<?xml version="1.0"?>
<!--
/**
 * @author Laura Folco <me@laurafolco.com>
 * @copyright Copyright (c) 2017 FireGento e.V.
 * @license https://opensource.org/licenses/MIT MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Stroopwafel_StoreConfigSearch::testing"
             title="Store Config Search"
             translate="title"
             module="Stroopwafel_StoreConfigSearch"
             sortOrder="81"
             parent="Magento_Backend::system_store"
             action="stroopwafel/testing/search"
             resource="Stroopwafel_StoreConfigSearch::testing"/>
    </menu>
</config>
