<?xml version="1.0"?>
<!--
/**
 * @author Laura Folco <me@laurafolco.com>
 * @copyright Copyright (c) 2017 FireGento e.V.
 * @license https://opensource.org/licenses/MIT MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route id="stroopwafel" frontName="stroopwafel">
            <module name="Stroopwafel_StoreConfigSearch"/>
        </route>
    </router>
</config>
